* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
}

div {
  background-color: bisque;
}

.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.check {
  background-color: aquamarine;
}

.uncheck {
  background-color: red;
}

.button {
  border: 10px solid white;
}

button {
  display: block;
}
